.lines {
  position: absolute;
  top: 80px;
  right: 0;
 margin-right: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
      gap: 10px;
  display: flex;
  justify-content: center;
  
}

.line-blue {
  width: 200px; 
  height: 8px; 
  background-color: rgba(60, 151, 175, 1);
  border-radius: 6px;
}

.line-gray {
  width: 200px; 
  height: 8px; 
  background-color: #EBEBEB;
  border-radius: 6px;
}
.info {
  text-align: center;
  width: 450px;
  margin-bottom: 50px; 
}
.info h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 12px;
}

.subInfo p {
  color: #999999;
  font-size: 16px; 
  font-weight: 400;
  margin-top: 5px;
}



.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  margin-top: 0; 
  margin-bottom: 50px; 
}

.mainSelect {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 24px; /
}

.option {
  border: 1px solid #EBEBEB;
  width: 260px;
  height: 220px; 
  border-radius: 16px;
  text-align: center;
  padding: 24px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.option img {
  width: 36px; 
  height: 36px;
  margin-bottom: 8px;
}

.option h4 {
  font-size: 18px; 
  font-weight: 600;
  color: #000000;
  margin: 8px 0 4px;
}

.option p {
  font-size: 14px; 
  color: #666666;
  padding-left: 24px;
  padding-right: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn button {
  width:700px;
  height: 50px;
  border-radius: 16px;
  background-color: #EBEBEB;
  border: none;
  color: #999999;
  font-size: 18px; 
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn button:hover {
  background-color: #DCDCDC;
  box-shadow: 0px 6px 12px rgba(111, 108, 108, 0.15);
}
.btn .active {
  background-color: rgba(60, 151, 175, 1);
  color: rgba(255, 255, 255, 1);
  
}