.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 360px;
  
}

.card {
    background-color: #3C97AF;
    width: 600px;
    height: 800px; 
    border-radius: 20px;
    padding: 20px; 
    position: relative;
    margin-top: 30px;
}

.mainCard {
    margin-top: 100px; 
    text-align: center;

}

.info h1 {
    font-size: 40px;
    color: white;
}

.info .subInfo {
    font-size: 20px;
    color: white;
    margin-top: 20px; 
}

.Line {
  position: absolute;
  left:0;
  bottom: -10px;
  
}
.contient{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

